obj_dir/
*.log
*.vcd
*.fst
program.hex
data.hex
Coremark/*.elf
Coremark/*.bin
Coremark/*.dump
Coremark/*.map
Coremark/program.hex
Coremark/data.hex
perf_*.summary.txt
perf_*.raw.txt
__pycache__/
syn/reports/
syn/*.lib
OpenLane\ Flow/runs/
OpenLane\ Flow/src/sky130_sram_1kbyte_1rw1r_32x256_8.v
OpenLane\ Flow/src/*.lib
openlane_design/
